@{
    ViewBag.Title = "Home Page";
}

<!-- Slider starts -->
<div class="parallax-slider">
    <!-- Slider (Parallax Slider) -->
    <div id="da-slider" class="da-slider">
        <!-- Each slide should be enclosed inside "da-slide" class -->
        <!-- Slide starts -->
        <div class="da-slide">

            <div class="da-img"><img src="~/Content/Templates/img/languageLogos.jpg" alt="image01" /></div>

        </div>
        <!-- Slide ends -->

    </div>
</div>
<!-- Slider ends -->